
.barchart {
    background-color: white;
}

.barchart text {
    font-family: Roboto;
}

.barchart .clickable-area {
}


.bar {
}

.bar.bar-disabled text {
    fill: #cacaca;
}
.bar.bar-disabled .stripe .progress {
    fill: #c9c9c9;
}

.bar.hover-enabled:hover .stripe .progress,
.bar.bar-highlighted .stripe .progress {
    fill: #ffea00;
}


.details text {
    font-family: Roboto, sans-serif;
}

.details.details-disabled text {
    fill: #cacaca;
}

.details .label {
    font-weight: 700;
}

.details .tooltip .symbol {
    font-weight: 900;
}

.details .tooltip .tooltip-text {
}


.stripe {
}

.stripe .progress {
}

.stripe .progress {
}


.tip-wrapper {
    position: absolute;
    margin: 0;
    left: 0;
    z-index: 10001 !important;
}

.tip-wrapper .tip {
    position: absolute;
    right: 17px;
    top: -9px;
    max-width: 240px;

    margin: 0;
    padding: 8px 10px;

    background-color: #4a4a4a;
    color: rgba(255, 255, 255, 0.87);
    border-radius: 5px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    font-size: 11px;
    line-height: 1.5;
    text-align: center;
    white-space: normal;

    transform: scale(0);
    transform-origin: right center;

    transition: transform 150ms cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-delay: .5s;
}